*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.product {
  position: relative;
}

.product:hover .product__overlay {
  visibility: visible;
}

.product__wrapper {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  height: 520px;
}

.product__image {
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.product__image--landscape {
  max-height: 100%;
  max-width: none;
  opacity: 1;
}

.product__image--portrait {
  max-width: 100%;
  opacity: 1;
}

.product__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.product__controls {
  text-align: right;
}

.product__action {
  background: #fff;
  border: 0;
  border-radius: .25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: .25rem;
  opacity: .8;
  outline: none;
  padding: .5em .75em;
}

.product__action:hover {
  opacity: 1;
}

.product__action--favorite .icon {
  color: #e4406f;
  margin-right: .5em;
}

.product__action--favorited {
  background: #e4406f;
  color: #fff;
}

.product__action--favorited .icon {
  color: #fff;
}

.button {
  border: 1px solid #dedede;
  border-radius: .25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: .5rem .75rem;
  text-decoration: none;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button .icon {
  margin-right: .5em;
}

.button--link {
  border: 0;
}

.button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button--inverse:hover {
  background: #222;
  color: #fff;
  opacity: .8;
}

.button--fluid {
  width: 100%;
}

.button--favorite .icon {
  color: #e4406f;
}

.button--favorited {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--favorited .icon {
  color: #fff;
}

.button--favorited:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: .8;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: .25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5em .75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: .5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.tab {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: .25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.pagination {
  text-align: right;
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.loader {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

.loader__item--heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.loader__item--heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #e4406f;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__item--heart div:after,
.loader__item--heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
}

.loader__item--heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.loader__item--heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: .25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

